# Introduction to Data Processing With Python

- Introduction
- Spyder
- Read Excel Data
    - Import `pandas`
    - Read Excel data with `pandas`
    - Inspect a `pandas` data frame
    - Add parameters to read Excel data properly
    - Rename columns/variables
    - Exercise
- Tidy Data
    - Obervations and variables
    - Melt messy data to create tidy data
    - Visualizations
    - Exercise
- Process Data
    - Handle missing values 
    - Select variables
    - Combine variables
    - Filter observations
    - Sort observations
    - Exercise
- Aggregate Data
    - Bigger datasets
    - Date columns
    - Group by common values
    - Aggregations: sum, mean, first, median, count
    - Exercise
- Combine Data Tables
    - Append tables of similar data
    - Exercise
    - Join tables with common variables
    - Exercise
- Sharing Insights
    - Mess up data for presentation with pivot
    - Save to Excel (and other formats)
    - More visualizations

## Read Excel Data

### Importing packages

In [ ]:
import pandas as pd

### Read Excel data with pandas

In [ ]:
pd.read_excel("../data/kap1.xlsx")

In [ ]:
pd.read_excel("../data/kap1.xlsx", sheet_name="1.2")

### Inspect pandas data frames

In [ ]:
pd.read_excel("../data/kap1.xlsx", sheet_name="1.2").info()

### Add parameters to read Excel data properly

In [ ]:
pd.read_excel("../data/kap1.xlsx", sheet_name="1.2", header=5)

In [ ]:
pd.read_excel("../data/kap1.xlsx", sheet_name="1.2", header=4)

In [ ]:
budget = pd.read_excel("../data/kap1.xlsx", sheet_name="1.2", header=4)

In [ ]:
budget.info()

In [ ]:
budget.loc[0]

In [ ]:
budget.loc["Norge"]

In [ ]:
pd.read_excel("../data/kap1.xlsx", sheet_name="1.2", header=4, index_col=0)

In [ ]:
budget = pd.read_excel("../data/kap1.xlsx", sheet_name="1.2", header=4, index_col=0)

In [ ]:
budget.info()

In [ ]:
budget.describe()

In [ ]:
budget.loc["Norge"]

In [ ]:
budget.loc[0]

In [ ]:
budget.iloc[0]

In [ ]:
budget.Budsjettiltak

In [ ]:
budget.Lån og garantier

In [ ]:
budget["Lån og garantier"]

In [ ]:
budget.loc[:, "Lån og garantier"]

In [ ]:
pd.read_excel("../data/kap1.xlsx", sheet_name="1.2", header=4, index_col=0).rename(
    columns={"Budsjettiltak": "tiltak", "Lån og garantier": "lån"}
)

In [ ]:
budget = pd.read_excel(
    "../data/kap1.xlsx", sheet_name="1.2", header=4, index_col=0
).rename(columns={"Budsjettiltak": "tiltak", "Lån og garantier": "lån"})

### Exercise

Read data from the file `r"..\data\driftsinntekter-2021.xls"` with `pandas`. Which parameters do you need to specify? Use the [`pandas` documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html) to look up available parameters.

In [ ]:
pd.read_excel("../data/driftsinntekter-2021.xlsx", header=1)

## Tidy Data

### Observations and variables

Hadley Wickham introduced the term **tidy data** (<https://tidyr.tidyverse.org/articles/tidy-data.html>). Data tidying is a way to **structure DataFrames to facilitate analysis**.

A DataFrame is tidy if:

- Each variable is a column
- Each observation is a row
- Each DataFrame contains one observational unit

Note that tidy data principles are closely tied to normalization of relational databases.

In [ ]:
income = pd.read_excel("../data/driftsinntekter-2021.xlsx", header=1).rename(
    columns={"Category": "category"}
)
income

Is the `income` data frame tidy?

> No, _2019_, _2020_, and _2021_ are not variables. They are values of a _year_ variable

### Melt messy datasets to tidy them

In [ ]:
income.melt()

In [ ]:
income.melt(id_vars=["category"])

In [ ]:
income.melt(id_vars=["category"], var_name="year")

In [ ]:
income.melt(id_vars=["category"], var_name="year", value_name="income")

In [ ]:
income = (
    pd.read_excel("../data/driftsinntekter-2021.xlsx", header=1)
    .rename(columns={"Category": "category"})
    .melt(id_vars=["category"], var_name="year", value_name="income")
)

### Visualizations

In [ ]:
income.plot()

In [ ]:
budget.plot()

In [ ]:
budget.plot.barh()

### Exercise

Tidy the following data frame:

In [ ]:
schedule = pd.DataFrame(
    {
        "hour": [19, 20, 21, 22],
        "NRK1": ["Dagsrevyen", "Beat for beat", "Nytt på nytt", "Lindmo"],
        "TV2": ["Kjære landsmenn", "Forræder", "21-nyhetene", "Farfar"],
        "TVNorge": [
            "The Big Bang Theory",
            "Alltid beredt",
            "Kongen befaler",
            "Praktisk info",
        ],
    }
)
schedule

In [ ]:
schedule.melt(id_vars=["hour"], var_name="channel", value_name="program")

## Process Data

### Handle missing values

In [ ]:
income.info()

In [ ]:
(
    pd.read_excel("../data/driftsinntekter-2021.xlsx", header=1)
    .rename(columns={"Category": "category"})
    .melt(id_vars=["category"], var_name="year", value_name="income")
    .astype({"year": "int"})
).info()

In [ ]:
(
    pd.read_excel("../data/driftsinntekter-2021.xlsx", header=1)
    .rename(columns={"Category": "category"})
    .melt(id_vars=["category"], var_name="year", value_name="income")
    .astype({"year": "int", "income": "float"})
).info()

In [ ]:
(
    pd.read_excel("../data/driftsinntekter-2021.xlsx", header=1, na_values="-")
    .rename(columns={"Category": "category"})
    .melt(id_vars=["category"], var_name="year", value_name="income")
    .astype({"year": "int", "income": "float"})
).info()

In [ ]:
income = (
    pd.read_excel("../data/driftsinntekter-2021.xlsx", header=1, na_values="-")
    .rename(columns={"Category": "category"})
    .melt(id_vars=["category"], var_name="year", value_name="income")
    .astype({"year": "int", "income": "float"})
)

In [ ]:
income.dropna()

In [ ]:
income.fillna(0)

### Select variables and observations

In [ ]:
budget = (
    pd.read_excel(
        "../data/kap1.xlsx", sheet_name="1.2", header=4, index_col=0, na_values="-"
    )
    .rename(columns={"Budsjettiltak": "tiltak", "Lån og garantier": "lån"})
    .fillna(0)
)

In [ ]:
budget

In [ ]:
budget.tiltak

In [ ]:
budget["tiltak"]

In [ ]:
budget.loc[:, "tiltak"]

In [ ]:
budget.loc["Norge"]

In [ ]:
budget.loc["Sverige":"Norge"]

In [ ]:
budget.loc[["Norge", "Sverige", "Danmark", "Finland"]]

In [ ]:
budget.loc[["Norge", "Sverige", "Danmark", "Finland"], "lån"]

In [ ]:
budget.loc[["Norge", "Sverige", "Danmark", "Finland"], ["lån", "tiltak"]]

In [ ]:
budget.iloc[4]

In [ ]:
budget.iloc[4:9]

In [ ]:
budget.iloc[5:8, 0]

In [ ]:
budget.loc["Norge", "tiltak"]

In [ ]:
budget.loc["Norge", budget.columns[1]]

### Combine variables

In [ ]:
budget.tiltak + budget.lån

In [ ]:
budget.assign(total=budget.tiltak + budget.lån)

### Filter observations

In [ ]:
budget.query("tiltak > 6")

In [ ]:
budget.query("lån < 3")

In [ ]:
budget.query("tiltak >= lån")

### Sort observations

In [ ]:
budget.sort_values(by="lån")

In [ ]:
budget.sort_values(by=["lån", "tiltak"])

In [ ]:
budget.sort_index()

### Exercise

Something something driftsinntekter

## Aggregate Data

### Bigger datasets

In [ ]:
pd.read_csv("../data/09.csv")

In [ ]:
trips = pd.read_csv("../data/09.csv")

In [ ]:
trips.info()

### Date columns

In [ ]:
trips = pd.read_csv("../data/09.csv", parse_dates=["started_at", "ended_at"])
trips.info()

### Group by common values

In [ ]:
trips.groupby("start_station_name")

In [ ]:
trips.groupby("start_station_name").size()

In [ ]:
trips.groupby("start_station_name").size().sort_values()

In [ ]:
trips.groupby("start_station_name").size().reset_index()

In [ ]:
(
    trips.groupby("start_station_name")
    .size()
    .reset_index()
    .rename(columns={0: "num_trips"})
)

In [ ]:
(
    trips.groupby("start_station_name")
    .size()
    .reset_index()
    .rename(columns={0: "num_trips"})
    .sort_values(by="num_trips")
)

In [ ]:
(
    trips.groupby("end_station_name")
    .size()
    .reset_index()
    .rename(columns={0: "num_trips"})
    .sort_values(by="num_trips")
)

In [ ]:
num_trips = (
    trips.groupby("start_station_name")
    .size()
    .reset_index()
    .rename(columns={0: "num_trips"})
    .sort_values(by="num_trips")
)

### Aggregations: sum, mean, median, first, count, ...

In [ ]:
trips.groupby("start_station_name").median()

In [ ]:
trips.groupby("start_station_name").agg(median_duration=("duration", "median"))

In [ ]:
# Sidenote, we could do the size example as follows
trips.groupby("start_station_name").agg(
    num_trips=("start_station_name", "size")
).reset_index().sort_values(by="num_trips")

In [ ]:
trips.groupby("start_station_name").agg(
    median_duration=("duration", "median"),
    description=("start_station_description", "first"),
)

In [ ]:
def most_common(column):
    return column.mode().iloc[0]


trips.groupby("start_station_name").agg(
    median_duration=("duration", "median"),
    description=("start_station_description", "first"),
    common_end_station=("end_station_name", most_common),
)

In [ ]:
trips.groupby(["start_station_name", "end_station_name"]).agg(
    median_duration=("duration", "median")
)

In [ ]:
trips.groupby(["start_station_name", "end_station_name"]).agg(
    median_duration=("duration", "median"),
    start_station_description=("start_station_description", "first"),
    end_station_description=("end_station_description", "first"),
)

In [ ]:
trips.groupby(["start_station_name", "end_station_name"]).agg(
    median_duration=("duration", "median"),
    start_station_description=("start_station_description", "first"),
    end_station_description=("end_station_description", "first"),
).reset_index()

### Exercise

## Combine Data Tables

We have two files with the same kinds of data: `08.csv` with data for August and `09.csv` with data for September. How can we combine them into one DataFrame?

In [ ]:
trips_aug = pd.read_csv("../data/08.csv", parse_dates=["started_at", "ended_at"])
trips_sep = pd.read_csv("../data/09.csv", parse_dates=["started_at", "ended_at"])

### Append tables with similar data

In [ ]:
pd.concat([trips_aug, trips_sep])

In [ ]:
pd.concat([trips_aug, trips_sep]).reset_index()

In [ ]:
pd.concat([trips_aug, trips_sep]).reset_index(drop=True)

In [ ]:
for filnavn in ["../data/08.csv", "../data/09.csv"]:
    print(filnavn)

In [ ]:
for filnavn in ["../data/08.csv", "../data/09.csv"]:
    print(filnavn)
    trips = pd.read_csv(filnavn, parse_dates=["started_at", "ended_at"])

In [ ]:
trips.started_at

In [ ]:
months = []
for filnavn in ["../data/08.csv", "../data/09.csv"]:
    print(filnavn)
    months.append(pd.read_csv(filnavn, parse_dates=["started_at", "ended_at"]))

In [ ]:
months

In [ ]:
months = []
for filnavn in ["../data/08.csv", "../data/09.csv"]:
    print(filnavn)
    months.append(pd.read_csv(filnavn, parse_dates=["started_at", "ended_at"]))
trips = pd.concat(months).reset_index(drop=True)

In [ ]:
data

In [ ]:
import pathlib

pathlib.Path.cwd().parent / "data"

In [ ]:
(pathlib.Path.cwd().parent / "data").glob("*.csv")

In [ ]:
list((pathlib.Path.cwd().parent / "data").glob("*.csv"))

In [ ]:
months = []
for filnavn in ["../data/08.csv", "../data/09.csv"]:
    print(filnavn)
    months.append(pd.read_csv(filnavn, parse_dates=["started_at", "ended_at"]))
trips = pd.concat(months).reset_index(drop=True)

### Exercise

### Join tables with common variables

In [ ]:
num_trips

In [ ]:
trip_lengths = (
    trips.groupby("start_station_name")
    .agg(median_duration=("duration", "median"))
    .reset_index()
    .sort_values(by="median_duration")
)
trip_lengths

In [ ]:
pd.merge(num_trips, trip_lengths)

In [ ]:
num_trips_from = (
    trips.groupby("start_station_name")
    .agg(num_trips=("start_station_name", "size"))
    .sort_values(by="num_trips")
    .reset_index()
)
num_trips_from

In [ ]:
num_trips_to = (
    trips.groupby("end_station_name")
    .agg(num_trips=("end_station_name", "size"))
    .sort_values(by="num_trips")
    .reset_index()
)
num_trips_to

In [ ]:
pd.merge(num_trips_from, num_trips_to)

In [ ]:
pd.merge(
    num_trips_from,
    num_trips_to,
    left_on="start_station_name",
    right_on="end_station_name",
)

In [ ]:
popular_from = num_trips_from.nlargest(10, "num_trips")
popular_to = num_trips_to.nlargest(10, "num_trips")

In [ ]:
pd.merge(
    popular_from, popular_to, left_on="start_station_name", right_on="end_station_name"
)

In [ ]:
pd.merge(
    popular_from,
    popular_to,
    how="inner",
    left_on="start_station_name",
    right_on="end_station_name",
)

In [ ]:
pd.merge(
    popular_from,
    popular_to,
    how="left",
    left_on="start_station_name",
    right_on="end_station_name",
)

In [ ]:
pd.merge(
    popular_from,
    popular_to,
    how="right",
    left_on="start_station_name",
    right_on="end_station_name",
)

In [ ]:
pd.merge(
    popular_from,
    popular_to,
    how="outer",
    left_on="start_station_name",
    right_on="end_station_name",
)

### Exercise

## Sharing Insights

### Mess up data for presentation

In [ ]:
from_to = (
    trips.groupby(["start_station_name", "end_station_name"])
    .agg(num_trips=("start_station_name", "size"))
    .reset_index()
    .sort_values(by="num_trips")
)

In [ ]:
from_to.query(
    "start_station_name.isin(@popular_from.start_station_name) and end_station_name.isin(@popular_to.end_station_name)"
).pivot_table(
    index="start_station_name", columns="end_station_name", values="num_trips"
)

### Save to Excel

### More visualizations

In [ ]:
from_to

In [ ]:
num_trips_to = (
    trips.groupby("end_station_name")
    .agg(num_trips=("end_station_name", "size"), lat=("end_station_latitude", "first"), lon=("end_station_longitude", "first"))
    .sort_values(by="num_trips")
    .reset_index()
)

In [ ]:
import numpy as np
pd.merge(
    num_trips_from,
    num_trips_to,
    left_on="start_station_name",
    right_on="end_station_name",
    suffixes=("_from", "_to")
).assign(from_over_to=lambda df: np.log(df.num_trips_from/df.num_trips_to)).plot.scatter(x="lon", y="lat", c="from_over_to")